.grid img{
  border: 2px solid black;
  border-radius: 50px; 
}

.grid{
    font-style: italic;
    font-size: large;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

*{
  background-color: rgb(9, 241, 164);  
}